@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: 
    linear-gradient(135deg, #3100e4 0%, #c88282 100%),
    url('/assets/cover.jpg');
  background-size: cover, 70% 80%;
  background-position: center, center right;
  background-repeat: no-repeat, no-repeat;
  background-blend-mode: normal;
  min-height: 100vh;
}
